.section_para {
    padding: 10px;
}

.section_para_2 {
    padding: 5px;
}

.about_courses li {
    /* padding: 10px; */
    margin-top: 10px;
}

.about_courses li label {
    font-weight: 700;
    font-size: 16px;
}

.courses_section {
    list-style: none !important;
    margin: 0px !important;
    padding: 0px !important;
}

.courses_section li label {
    font-weight: 300 !important;
    font-size: 12px !important;
}

.course {
    padding-left: 5px;
    margin-top: 30px;
}

h4,
h3 {
    padding: 0px;
    margin: 5px 0px;
}

.social_cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.social_card {
    width: 30%;
    border-radius: 5px;
    background-color: rgb(170, 12, 44);
    margin: 10px 0px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    align-items: center;
}

.social_card img {
    width: 150px;
}

.social_title {
    margin-top: 5px;
    font-weight: 500;
    font-size: 14px;
}

.social_description {
    font-weight: 300;
    font-size: 10px;
    padding: 5px;
}