body {
  background-color: rgb(153, 0, 0);
  color: white;
  box-sizing: border-box;
}

p {
  margin: 0px;
  letter-spacing: 1px;
  font-size: 12px;
}

.page_ {
  padding: 20px;
  display: flex;
}

.component_ {
  padding: 10px 30px;
  width: 100%;
}

.d_flex {
  display: flex;
}

input {
  outline: none;
}

a {
  text-decoration: none;
  color: white;
}

.mt_10 {
  margin-top: 10px;
}

.m_10 {
  margin: 10px 0px;
}

@media screen and (max-width: 800px) {
  .component_ {
    padding: 5px;
    width: 60vw;
  }
}